body {
    background-color: black;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    margin: 0;
    background-image: url('./images/waves.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
